/*
git add .
git commit -m "Διόρθωση CSS link και προσθήκη παραγράφου"
git push
*/
h1{
    color: red;
    text-align: center;
    background-color: aqua;
    text-decoration: underline;
}
p{
    text-decoration: underline;
    color: blue;
    text-align: center;
}